@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #000000;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
}
main {
  max-width: 900px;
  margin: auto;
  padding: 0.5rem;
  text-align: center;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav img {
    height:150px;
}
nav ul {
    list-style: none;
    display: flex;
}
nav li {
    margin-right: 1rem;
  }
nav ul li a {
    text-decoration-line:none;
    text-transform: uppercase; 
    color: #ffffff;
  }
nav ul li a:hover {
    color: #cb7e7eff;
}
nav h1 {
    color: #ffffff;
    margin-bottom: 0.5rem;
}
h2 {
    color: #ffffff;
    margin-bottom: 1rem;
    text-align: left;
}
p {
    color: #FFFFFF;
    margin-bottom: 2rem;
    text-align: left;
} 

.music-container {
  margin-top: 2rem;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  text-align: center;
}
.box {
  background: #000000;
  text-align: center;
}
.column h2 {
  text-align: center;
  margin-bottom: 10px;
  color: black;
}

.column p {
  font-size: 0.9em;
  line-height: 1.6;
  color: black;
}


.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 1rem 0;
  color: #ffffff;
  }
.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 17rem;
  background: #000000;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 10px;
  margin: auto;
  overflow: hidden;
}
.card-image {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}
.card-name {
  color: #ffffff;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 1.1rem;
  margin-top: 0.5rem;
}
.card-about {
  text-overflow: ellipsis;
  width: 15rem;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom:1rem;
}
.btn {
  border:none;
  background:none;
  border-radius:5px;
  box-shadow:1px 1px 2px rgba(21, 21, 21, 0.1);
  cursor:pointer;
  font-size:1.25rem;
  margin:0 1rem;
  padding:.25rem 2rem;
  transition:all .25s ease-in-out;
  background: hsl(110,21%,93%);
  color:hsl(141,100%,22%);
  margin-bottom:1rem;
}
.btn:focus, .btn:hover {
  box-shadow:1px 1px 2px rgba(21, 21, 21, 0.2);
  background: hsl(111,21%,86%);
}
.about-container {
  font-size:1.25rem;
  margin-top:2rem;
  text-align: justify;
  text-justify: inter-word;
}
